.App{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch; 
    align-content: center;
    justify-content: center;
}

body{
    background-color:black;
    display:flex;
    margin: 2rem;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center; 
    

}