.photo{
    display: flex;
    margin-bottom:1rem; 
    
}

.imagePhoto{
    border-radius: .5rem;
    border: 1px solid #00FF04; /* 1px de ancho, color rojo */
    box-shadow: 0 0 20px #00FF04
    
}